@charset "utf-8";
h1
{
	padding: 0;
	border: 0;
	vertical-align: baseline;
	margin: 10px 0;
	font-weight: 700;
	color: #222222;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
	font-size: 36px;
	text-align: center;
}
