@charset "utf-8";

.selectedCell{
	background-color: rgba(66, 116, 202, 0.84);
	color:white;
}

.theme-showcase .navbar .container {
	width: auto;
}

.navadd{
	-webkit-box-shadow: rgba(0, 0, 0, 0.45098) 0px 2px 3px 0px;
	box-shadow: rgba(0, 0, 0, 0.45098) 0px 2px 3px 0px;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
	-ms-user-select: none;
	user-select: none;
}