<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
    <meta charset="UTF-8">
    <script src="javascript/angular.min.js"></script>
    <script src="javascript/app.js"></script>
    <title>Title</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="mainController as mc">
<p>
    <div ng-click="mc.chosen=1">-1-</div>
<div ng-click="mc.chosen=2">-2-</div>
<div ng-click="mc.chosen=3">-3-</div>


</p>
<p>
    <input ng-model="mc.col">
    <button ng-click="mc.col = mc.col+1">+</button>
    <button ng-click="mc.col = mc.col-1">-</button>
</p>
<p>
    <input ng-model="mc.row">
    <button ng-click="mc.row = mc.row+1">+</button>
    <button ng-click="mc.row = mc.row-1">-</button>
</p>
<table border="0">
    <tr ng-repeat="x in mc.fun(mc.col)">
        <td ng-repeat="y in mc.fun(mc.row)"><div ng-click="mc.data[x][y]=mc.chosen">
            {{x}},{{y}}

        </div></td>
    </tr>
</table>
<p/>
<table border="0">
    <tr ng-repeat="x in mc.fun(mc.col)">
        <td ng-repeat="y in mc.fun(mc.row)"><div ng-class="{'selectedCell':mc.data[x][y]!=null}" ng-bind="mc.data[x][y]==null?'0':mc.data[x][y]">


        </div></td>
    </tr>
</table>
<button ng-click="mc.data=null">clear</button>
</body>
</html>