<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>ReactorCraft Simulator</title>

</head>
<body ng-controller="mainController as mc" role="document" style="cursor:default;padding-top: 100px">

<nav class="nav navbar-inverse navbar-fixed-top navadd">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">ReactorCraft Fission Reactor Simulator</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/yuyuyzl/ReactorCraftSimulator">Github</a></li>
            </ul>
        </div>
    </div>
</nav>




<div class="container" role="main">
    <main class="col-md-8" id="tableContainer">
        <div align="center">
            <table border="1">
                <tr ng-repeat="x in mc.getRangeArray(mc.col)">
                    <td ng-repeat="y in mc.getRangeArray(mc.row)">
                        <div>
                            <img class="img-responsive" ng-src="{{mc.data[x][y]==null?'img/blank.png':mc.blockImg[mc.data[x][y]]}}" ng-click="mc.data[x][y]=mc.chosen">
                        </div>
                    </td>
                </tr>
            </table>


        </div>
    </main>

    <aside class="col-md-4">
        <h4>Block List:</h4>

        <ul class="nav nav-pills" role="tablist">
<!--            <li role="presentation" ng-click="mc.chosen=null" ng-class="{'active':mc.chosen==null}"><a>Null</a></li>
            <li role="presentation" ng-click="mc.chosen=1" ng-class="{'active':mc.chosen==1}"><a>Fuel Rod</a></li>
            <li role="presentation" ng-click="mc.chosen=2" ng-class="{'active':mc.chosen==2}"><a>Steam Boiler</a></li>
            <li role="presentation" ng-click="mc.chosen=3" ng-class="{'active':mc.chosen==3}"><a>Neutron Reflector</a></li>
            <li role="presentation" ng-click="mc.chosen=4" ng-class="{'active':mc.chosen==4}"><a>Steel Block</a></li>
            -->
            <li role="presentation" ng-repeat="i in mc.getRangeArray(mc.blockNames.length)" ng-click="mc.chosen=i" ng-class="{'active':mc.chosen==i}"><a ng-bind="mc.blockNames[i]"></a></li>
        </ul>



        </p>
        <p style="text-align: center">
            Scale:
            <input ng-model="mc.col" style="width: 30px;text-align: center;">
            <button ng-click="mc.col=mc.inc(mc.col)">+</button>
            <button ng-click="mc.col=mc.col-1">-</button>
            &nbsp;&nbsp;x&nbsp;&nbsp;

            <input ng-model="mc.row"  style="width: 30px;text-align: center;">
            <button ng-click="mc.row=mc.inc(mc.row)">+</button>
            <button ng-click="mc.row=mc.row-1">-</button>
        </p>
        <br>
        <p align="center">
            <button ng-click="mc.clearData()" style="width: 100px; height: 30px">Clear</button>
        </p>
        <br>

        <p align="center">
            <button ng-click="mc.emulate()" style="width: 100px; height: 30px">Let's Rock!</button>
        </p>
        <div>
            <p ng-bind-html="outputFieldSafe"></p>
        </div>
    </aside>


    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="javascript/angular.min.js"></script>
    <script src="javascript/app.js"></script>
    <script src="javascript/emulator.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascript/bootstrap.min.js"></script>
</div>
</body>
</html>
