<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="javascript/app.js"></script>
    <title>Title</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="mainController as mc">
<p>
    <input ng-model="mc.col">
    <button ng-click="mc.col = mc.col+1">+</button>
    <button ng-click="mc.col = mc.col-1">-</button>
</p>
<p>
    <input ng-model="mc.row">
    <button ng-click="mc.row = mc.row+1">+</button>
    <button ng-click="mc.row = mc.row-1">-</button>
</p>
<table border="0">
    <tr ng-repeat="x in mc.fun(mc.col)">
        <td ng-repeat="y in mc.fun(mc.row)"><div ng-click="mc.data[x][y]=true">
            {{x}},{{y}}

        </div></td>
    </tr>
</table>
<p/>
<table border="0">
    <tr ng-repeat="x in mc.fun(mc.col)">
        <td ng-repeat="y in mc.fun(mc.row)"><div ng-class="{'selectedCell':mc.data[x][y]}">

            &nbsp;&nbsp;
        </div></td>
    </tr>
</table>
<button ng-click="mc.data=null">clear</button>
</body>
</html>